/*******

B-Social CSS v1.0
Autor: SUMA.cl
Fecha: 02/2014
Licencia: Comercial

*******/

body{
background:url(img/bg-body.jpg) #eeeeee center top repeat-x;
font-family: 'Roboto', sans-serif;
}
a{
	cursor: pointer;
	text-decoration: none;
}
#contenedor-general{
width:1200px;
margin:0 auto;	
}
#header, #contenedor-central{
width:100%;
float:left;
}
#header{
height: 104px;
}
#logo{
	float: left;
	width: 300px;
	background-color: #2e3337;
	height: 104px;
}
#logo h1, #logo h1 a, #logo-h2 h2 a, #iconos-user li a, h5, #contenedor-subir-foto a, #contenedor-subir-video a, .btn-borrar-img, .megusta a, .btn-close-video{
	text-indent: -100000px;
	overflow: hidden;
	display: block;
}
#logo h1, #logo h1 a{
	width:170px;
	height: 43px;
	margin:35px auto 0 auto;
}
#logo h1 a{
	background:url(img/logo-bsocial.png) center top no-repeat;
	margin:0;
	float: left;
}
#logo h1 a:hover{
	opacity: 0.9;
}
#bigbanner{
	width:600px;
	float: left;
	height: 104px;
}
#menu-user{
	float: left;
	width: 300px;
	height: 104px;
}
.col-contenido{
float: left;
}
#col-izquierda, #col-derecha{
	width:300px;
}
#col-centro{
	width:540px;
	margin:23px 30px 0 30px;
}
#contenedor-central{
	background:url(img/bg-contenedor-central.jpg) left top repeat-y;
}
#form-buscador{
	width:258px;
	height: 40px;
	background-color: #ececec;
	-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin:28px 0 0 20px;
}
#form-buscador p {
    float: left;
    margin-top:7px;
}
#buscar-sidebar {
    float: left;
    height: 20px;
    margin:2px 10px 0 12px;
    width: 190px;
    color:#7f858d;
    font-size: 14px;
    font-style: italic;
    background-color: #ECECEC;
    border:none;
}
#btn-lupita{
	width:29px;
	height: 28px;
	background:url(img/btn-lupita.jpg) center top no-repeat;
	float:left;
	display: block;
	overflow: hidden;
	text-indent: -100000px;
}
#btn-lupita:hover{
	cursor: pointer;
}
.menu-bsocial{
	margin:30px 0 25px 0;
}
.menu-troncal{
	float: left;
	margin-left:20px;
}
.menu-troncal li a{
width:194px;
height: 30px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
display: block;
color:#ffffff;
font-size: 16px;
text-decoration: none;
margin-bottom:11px;
font-weight: 300;
padding:15px 0 0 64px;
}
.menu-troncal li a:hover{
background-color:#0266b5;
}
#icn-novedades{
background:url(img/icn-novedades.png) #014f8d 10px center no-repeat;
}
#icn-avisos{
background:url(img/icn-avisos.png) #014f8d 10px center no-repeat;	
}
#icn-encuestas{
background:url(img/icn-encuestas.png) #014f8d 10px center no-repeat;	
}
#icn-mercadito{
background:url(img/icn-mercadito.png) #014f8d 10px center no-repeat;	
}
#icn-cumpleanos{
background:url(img/icn-cumpleanos.png) #014f8d 10px center no-repeat;	
}
#icn-elige{
background:url(img/icn-elige.png) #014f8d 10px center no-repeat;	
}
#icn-beneficios{
background:url(img/icn-beneficios.png) #014f8d 10px center no-repeat;	
}
#icn-liquidaciones{
background:url(img/icn-liquidaciones.png) #014f8d 10px center no-repeat;	
}
#icn-novedades:hover{
background:url(img/icn-novedades.png) #0266b5 10px center no-repeat;
}
#icn-avisos:hover{
background:url(img/icn-avisos.png) #0266b5 10px center no-repeat;	
}
#icn-encuestas:hover{
background:url(img/icn-encuestas.png) #0266b5 10px center no-repeat;	
}
#icn-mercadito:hover{
background:url(img/icn-mercadito.png) #0266b5 10px center no-repeat;	
}
#icn-cumpleanos:hover{
background:url(img/icn-cumpleanos.png) #0266b5 10px center no-repeat;	
}
#icn-elige:hover{
background:url(img/icn-elige.png) #0266b5 10px center no-repeat;	
}
#icn-beneficios:hover{
background:url(img/icn-beneficios.png) #0266b5 10px center no-repeat;	
}
#icn-liquidaciones:hover{
background:url(img/icn-liquidaciones.png) #0266b5 10px center no-repeat;	
}
.menu-troncal a span{
	background-color: #ececec;
	color:#004072;
	font-size: 16px;
	padding: 4px 10px;
	-webkit-border-radius: 11px;
border-radius: 11px;
font-weight: 300;
float: right;
margin:-4px 10px 0 0;
}

#grupos-sidebar{
	float: left;
}
h4{
	width:193px;
	height: 22px;
	background:url(img/icn-grupos.png) 10px center no-repeat;
	font-weight: bold;
	color:#ffffff;
	text-align: left;
	float: left;
	padding:5px 0 0 65px;
	margin-left:20px;
}
.menu-troncal.menu-grupos{
	margin-top:15px;
}
.menu-grupos li a{
	background:url(img/icn-bullet.png) #014f8d 10px center no-repeat;
}
#grupos-sidebar p{
	float: left;
	width: 100%;
	text-align: center;
}
#grupos-sidebar p a{
	color:#ffffff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
}
#grupos-sidebar p a:hover{
	text-decoration: underline;
	}
#logo-h2{
float: left;
width: 100%;
margin:65px 0 13px 0;	
}
#logo-h2 h2 a{
	width:170px;
	height: 43px;
	background:url(img/logo-bsocial-h2.png) center top no-repeat;
	margin: 0 auto;
}
.menu-troncal.menu-adicional li a {
    background-color: #00345D;
    padding-left: 0;
    text-align: center;
    width: 258px;
    cursor: pointer;
}
.menu-troncal.menu-adicional li a:hover{
	background-color: #014F8D;
}
.menu-troncal.menu-adicional {
    padding-bottom: 20px;
}
#menu-user #iconos-user {
    margin-top: 30px;
    float: left;
}
#iconos-user li{
	float: left;
	margin-left:18px;
}
#iconos-user li:first-child{
	margin-left:0;
}
#iconos-user li a{
	width:40px;
	height: 41px;
}
#iconos-user li a:hover{
	opacity: 0.9;
}
#informacion{
	background:url(img/icn-informacion.png) center top no-repeat;
}
#mensajes{
	background:url(img/icn-mensajes.png) center top no-repeat;
}
#usuario{
	background:url(img/icn-usuario.png) center top no-repeat;
}

#menu-user #btn-username {
    float: left;
    margin: 40px 0 0 10px;
    position: relative;
}
#btn-username li a{
	color:#ffffff;
	font-size: 14px;
	background:url(img/icn-flecha-blanca-down.png) right center no-repeat;
	padding-right: 19px;
	float: left;
	max-width: 115px;
	font-weight: 300;
}
#btn-username li a:hover{
	cursor: pointer;
}
#btn-username #contenedor-drop:hover{
	height: 64px;
}
#dropdown-username{
	position: absolute;
	right:0;
	top:64px;
	float: left;
	width:173px;
	border:solid 1px #c2c2c2;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(178,178,178,0.3);
	box-shadow: 1px 1px 5px 1px rgba(178,178,178,0.3);
	display: none;
	 z-index: 99;
}
#dropdown-username li{
	float:left;
	width:173px;
	height: 60px;
}
#dropdown-username li a{
	padding:23px 0 0 0;
	background: none;
	text-decoration: none;
	width:173px;
	height: 37px;
	background-color: #ffffff;
	float: left;
	max-width: 173px;
	color:#393939;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
#dropdown-username li a:hover{
	background-color: #e2e1e1;
}
#contenedor-flecha{
	position: relative;
}
.flecha-up{
	display: block;
	width:28px;
	height: 16px;
	background:url(img/icn-flecha-blanca-up.png) center top no-repeat;
	position: absolute;
	top:-16px;
	right: 30px;
}
#btn-username li:hover #dropdown-username{
	display: block;
	}
#contenedor-estado{
	width:100%;
	float: left;
	position: relative;
}
#estado{
	float: left;
}
#estado textarea{
	width:504px;
	height: 64px;
	float: left;
	border:none;
	resize:none;
	padding:18px 18px;
	font-size: 15px;
	color:#9f9f9f;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0;
}
#btns-estado{
	float: left;
	height: 48px;
	width: 100%;
	background:url(img/bg-barra-botones-estado.jpg) #eeeeee center top repeat-x;
}
#contenedor-subir-foto, #contenedor-subir-foto a, #contenedor-subir-foto a input{
width:55px;
height: 48px;
float: left;
}
#contenedor-subir-foto a{
	background:url(img/btn-subir-foto.jpg) center top no-repeat;
	text-indent:0;
	opacity: 0.8;
}
#contenedor-subir-foto a:hover, #contenedor-subir-video a:hover{
	opacity: 1;
}
#contenedor-subir-foto a input{
	opacity: 0;
}
#contenedor-subir-foto a input:hover{
	cursor: pointer;
}
#contenedor-subir-video, #contenedor-subir-video a{
	width:52px;
	height: 48px;
	float: left;	
}
#contenedor-subir-video a{
	background:url(img/btn-subir-video.jpg) center top no-repeat;
	opacity: 0.8;
}
#btns-estado .btn{
	float: right;
}
#btns-estado .btn a{
	float: left;
	border-radius: 0;
	padding:17px 27px 16px 27px;
}
#contenedor-fotos-adjuntas{
	width:100%;
	height: 70px;
	float: left;
	background-color: #ffffff;	
}
#contenedor-fotos-adjuntas li{
	display: block;
	width:65px;
	float: left;
	text-align: center;
	margin:0 0 0 10px;
	position: relative;
}
.btn-borrar-img{
	background:url(img/btn-borrar-img.png) center top no-repeat;
	opacity: 0.8;
	position: absolute;
	width: 15px;
	height: 15px;
	top:0;
	right:0;
	opacity: 0.7;
}
.btn-borrar-img:hover{
	opacity: 1;
}
#barra-carga-foto{
	position: absolute;
	bottom:0;
	left: 0;
	max-width: 430px;
	height:2px;
	background-color: #017CDD;
}
.contendor-publicacion{
width: 540px;
float: left;
background-color: #ffffff;
margin-top:20px;
padding:20px 0 0 0;
}
.foto-perfil{
	float: left;
	width: 46px;
	margin: 0 14px 0 20px;
}
.foto-perfil p img{
	text-align: center;
	width: 46px;
	height: 46px;
	-webkit-border-radius: 25px;
border-radius: 25px;
}
.publicacion{
	float: left;
	width: 540px;
}
.datos-publicacion{
	margin:3px 0 15px 0;
	float: left;
	width: 460px;
}
.datos-publicacion h3{
	font-size: 18px;
	font-weight: 300;
	color:#393939;
	width: 100%;
	float: left;
}
.fecha-publicacion{
	font-size: 13px;
	font-style: italic;
	color:#b6b5b5;
	width: 100%;
	float: left;
	margin: 8px 0 0 0;
}
.publicacion-video{
	float: left;
	margin:0 20px 10px 80px;
}
.publicacion-texto{
	float: left;
	margin:0 20px 0 80px;
}
.publicacion-texto p{
	font-size:15px;
	color:#9f9f9f;
	font-weight: 300;
}
.contenedor-escribir-comentario{
	width: 100%;
	float: left;
	height: 50px;
	margin-top:22px;
}
.escribir-comentario{
	width: 378px;
	float: left;
	height: 46px;
	border: 2px solid #2e3337;
	border-right: none;
}
.contenedor-escribir-comentario ul .btn a{
	background-color: #2e3337;
	border-radius: 0;
	float: left;
	padding:18px 20px 17px 20px;
}
.contenedor-escribir-comentario ul .btn.comentar a:hover{
background-color:#23272a;
}
.btn.megusta{
	height: 50px;
	position: relative;
}
.contenedor-escribir-comentario .btn.megusta a{
	background:url(img/btn-me-gusta-publicacion.jpg) center top no-repeat;
	width:53px;
	height: 50px;
	padding: 0;
}
.contenedor-escribir-comentario .btn.megusta a:hover{
	background-position: center -50px;
}
.globo-megusta{
	background-color: #97B1C6;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
    left: 26px;
    position: absolute;
    top: 25px;
}
.globo-megusta.un-numero{
padding: 3px 6px;
}
.globo-megusta.dos-numeros{
padding:5px;
top:24px;
}
.globo-megusta.tres-numeros{
font-size: 11px;
    left: 24px;
    padding: 7px 4px;
    top: 21px;
}
.form-comentar-publicacion textarea{
	resize:none;
	width:100%;
	background-color: #e1e2e2;
	border: none;
	margin-top:0;
	height: 38px;
	font-family: 'Roboto', sans-serif;
	color:#9f9f9f;
	font-size:15px;
	font-weight: 300;
	padding:4px 0 4px 10px;
	width: 368px;
	line-height: 18px;
}
.publicacion-comentario{
	background-color: #e2e1e1;
	float: left;
	width: 100%;
	padding-top:14px;
}
.publicacion-comentario.bg-linea{
	background:url(img/bg-linea-comentarios.jpg) #e2e1e1 right top no-repeat;
}
.publicacion-comentario .datos-publicacion{
	margin-bottom:11px;
}
.publicacion-comentario .datos-publicacion h3{
	font-size: 14px;
}
.publicacion-comentario .fecha-publicacion{
	margin-top:5px;
}
.publicacion-texto.comentario{
	padding-bottom:20px;
}
.comentario p{
	font-size: 13px;
	line-height: 17px;
}
#col-derecha{
	margin-top:23px;
}
#col-derecha div{
	float: left;
	margin-bottom:20px;
}
#aviso-destacado{
	width: 300px;
	height: 193px;
}
#col-derecha .icn-azul{
	position: relative;
}
#col-derecha h5{
	width:42px;
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
}
.icn-aviso-azul{
	background:url(img/icn-avisos-azul.jpg) center top no-repeat;
}
.contenedor-imagen, .contenedor-imagen img{
	float: left;
	width: 300px;
	height: 193px;
}
.parrafo h6{
	float: left;
	width: 100%;
}
.parrafo h6 a{
	font-size: 21px;
	font-weight: bold;
	color:#ffffff;
	margin-bottom: 6px;
	text-decoration: none;
	float: left;
}
#col-derecha .aviso-destacado .parrafo{
	height: 63px;
	padding:7px 10px 10px 10px;
	background-color: #524452;
	position: absolute;
	background:url(img/bg-aviso-destacado.png) center top repeat-y;
	bottom:0;
	width: 280px;
	margin-bottom: 0;	
}
.parrafo p {
    float: left;
    text-align: left;
}
.parrafo p a{
	color:#ffffff;
	font-size:14px;
	font-weight: 300;
	line-height: 17px;
	text-decoration: none;
}
.parrafo a:hover, .parrafo h6 a:hover{
	text-decoration: underline;
}
.icn-cumpleanos-azul{
	background:url(img/icn-cumpleanos-azul.jpg) center top no-repeat;
}
.cumpleano-destacado{
	float: left;
	position: relative;
	width: 300px;
	height: 70px;
	border: solid 2px #017de1;
	background-color: #ffffff;
}
.cumpleano-destacado p{
color:#808080;
font-size: 15px;
width: 238px;
font-weight: 300;
margin-top: 16px;
padding-left:20px;
line-height: 18px;
}
.cumpleano-destacado p a{
	font-weight: 400;
	text-decoration: none;
	color:#808080;
}
.cumpleano-destacado p a:hover{
	text-decoration: underline;
}
.encuesta-destacada{
	color:#8c8c8c;
	position: relative;
	width:250px;
	padding:0 25px;
	background-color: #ffffff;
}
.encuesta-destacada p{
	font-size: 17px;
	font-weight: 300;
	width: 233px;
	line-height: 24px;
	margin-top: 24px;
}
.icn-encuestas-azul{
	background:url(img/icn-encuestas-azul.jpg) center top no-repeat;
}
#col-derecha form {
    float: left;
}
.form-encuesta p input[type="radio"] {
    display:none;
}
.form-encuesta p input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 25px 0 0;
    vertical-align:middle;
    background:url(img/btn-radio.png) center top no-repeat;
    cursor:pointer;
}
.form-encuesta p input[type="radio"]:checked + label span {
    background:url(img/btn-radio.png) center -20px no-repeat;
}
.form-encuesta label span{
	opacity: 0.6;
}
.form-encuesta label:hover{
cursor:pointer;
}
.form-encuesta label:hover span{
	opacity: 1;
}
.btn{
	float: left;
	text-align: center;
	height: 30px;
	display: block;
}
.btn a{
	background-color: #017cdd;
	font-size: 15px;
	color:#ffffff;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	padding: 7px 35px;
	text-decoration: none;
}
.btn a:hover{
	background-color: #026fc6;
}
.encuesta-destacada .btn{
width: 100% !important;
margin-bottom: 20px;
}
#btn-visiblepor{
     background-color: #E2E1E1;
    display: block;
    float: left;
    position: relative;
    opacity: 0.8;
}
#btn-visiblepor #contenedor-drop-visible{
	height: auto;
	float:left;
	 height: 43px;
    padding: 18px 16px 0;
    background: none;
    background:url(img/bg-barra-botones-estado.jpg) #eeeeee center top repeat-x;
}
#btn-visiblepor li a{
	color:#ffffff;
	font-size: 16px;
	background:url(img/icn-flecha-gris-down.png) right center no-repeat;
	padding-right: 19px;
	float: left;
	max-width: 115px;
	font-weight: 300;
	color:#808080;
}
#btn-visiblepor:hover{
	cursor: pointer;
	opacity: 1;
}
#dropdown-visiblepor{
	position: absolute;
	right:0;
	top:60px;
	float: left;
	border:solid 1px #c2c2c2;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(178,178,178,0.3);
	box-shadow: 1px 1px 5px 1px rgba(178,178,178,0.3);
	display: none;
	 z-index: 99;
}
#dropdown-visiblepor li{
	height: 36px;
	background-color:#ffffff;
	padding:0 15px;
}
#dropdown-visiblepor li:hover{
	background-color: #e2e1e1;
}
#dropdown-visiblepor li a{
	padding:10px 0;
	background: none;
	text-decoration: none;
	max-width: 173px;
	color:#393939;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	width: 100%;
}
#contenedor-flecha{
	position: relative;
}
.flecha-up{
	display: block;
	width:28px;
	height: 16px;
	background:url(img/icn-flecha-blanca-up.png) center top no-repeat;
	position: absolute;
	top:-16px;
	right: 30px;
}
#dropdown-visiblepor.ocultar{
display: none;
}
#modal-adjuntar-video p{
	color:#9f9f9f;
	font-size: 15px;
	width: 490px;
	text-align: left;
	float: left;
	font-weight: 300;
	margin:30px 0 0 30px;
}
#form-adjuntar-video p{
	margin-top:10px;
}
#form-adjuntar-video p input{
border:2px solid #2e3337;
border-right:none;
background-color: #e1e2e2;
float: left;
height: 44px;
width: 350px;
color:#9f9f9f;
font-size: 15px;
font-weight: 300;
padding:0 10px;
}
#form-adjuntar-video p a{
	background-color: #2E3337;
	color:#ffffff;
	font-size: 15px;
	font-weight: 300;
	padding: 17px 22px 16px 22px;
	height: auto;
}
#form-adjuntar-video p a:hover{
	background-color: #23272a;
}
.btn-close-video{
	background:url(img/btn-close-modal-video.jpg) center top no-repeat;
	width: 30px;
	height: 30px;
}
.btn-close-video:hover{
	opacity: 0.8;
}
/* Liquidaciones */
#contenedor-contenido{
	float: left;
	width: 476px;
	padding:0 32px 25px 32px;
	background-color: #ffffff;
}
#contenedor-contenido h3{
	font-size: 24px;
	color: #2e3337;
	font-weight: 300;
	margin:32px 0 40px 0;
}
#lista-con-pdf li{
	width: 100%;
	background:url(img/icn-pdf.jpg) 435px top no-repeat;
	height: 22px;
	padding-bottom: 18px;
	margin-bottom: 11px;
}
#lista-con-pdf li a{
	color:#a9a9a9;
	font-size: 15px;
	font-weight: 400;
}
#lista-con-pdf li a:hover{
	color:#878686;
}
#lista-con-pdf li a span{
	background:url(img/bg-lista.gif) center bottom repeat-x;
	width: 100%;
	float: left;
	padding-bottom: 18px;
}





































































































































































































































































/* the overlayed element */
.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#ffffff;
    width:540px;
    height: 135px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.simple_overlay .close.btn-close-video{
height:30px;
width:30px;
right:0px;
top:0px;
}





.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */